<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="../static/css/login.css">

    <title>랜선집사 | 로그인</title>
</head>
<body>
    <header>
        <div>랜선집사</div>
    </header>
    <div class="wrap">
            <h1>랜 선 집 사</h1>
            <div class="login">
                <div>
                    <div class="id">
                        <input type="text" id="id" placeholder="아이디">
                    </div>
                    <div class="pw">
                        <input type="password" id="pw" placeholder="비밀번호">
                    </div>
                </div>
                <div class="login_btns">
                    <button type="button">로그인하기</button>
                    <button type="button">회원가입</button>
                </div>
            </div>
    </div>
    <footer>
        <div>Contact Us</div>
        <div>김나영 : <a href="https://velog.io/@skdud4659">https://velog.io/@skdud4659</a></div>
        <div>김태현 : <a href="https://devtaehyundiary.tistory.com/">https://devtaehyundiary.tistory.com/</a></div>
        <div>변정섭 : <a href="#"></a></div>
        <div>전영진 : <a href="#"></a></div>
    </footer>

    <script src="/static/js/login.js"></script>
</body>
</html>