<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/show.css">
    <title>랜선집사 | Contents</title>
</head>
<body>
    <button id="modalBtn">button</button>
    <div class="modalOverlay">
        <div class="modalFrame">
            <button id='closeBtn'>X</button>
            <div class="modal">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis ex, assumenda veritatis nobis voluptates modi? Nulla numquam quos vitae iure expedita atque esse, quaerat quis cum, itaque error quae eveniet.
            </div>
        </div>
    </div>

    <script src="/static/js/show.js"></script>
</body>
</html>