<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/signUp.css">
    <title>랜선집사 | 회원가입</title>
</head>
<body>
    <div class="formContainer">
        <div>회원가입</div>
        <form method="POST" class="signUp">
            <label for=""> <div class="register">아이디</div>  <input id="id" type="text" placeholder="아이디를 입력해주세요"></label>
            
            <label for=""><div class="register">이메일</div> <input id="email" type="text" placeholder="이메일을 입력해주세요"></label>

            <label for=""><div class="register">닉네임</div> <input id="nickName" type="text" placeholder="닉네임을 입력해주세요"></label>
    
            <label for=""><div class="register">비밀번호</div> <input id="pw" type="text" placeholder="비밀번호를 입력해주세요"></label>
    
            <label for=""><div class="register">비밀번호 확인</div><input id="pwCheck" type="text" placeholder="비밀번호를 확인해주세요"></label>
            <div class="btns">
                <button type="submit">뒤로가기</button>
                <button type="submit">가입하기</button>
            </div>
        </form>
    </div>

    <script src="/static/js/signUp.js"></script>
</body>
</html>